<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.uvmessenger">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UVMessenger">
        <activity
            android:name=".view.chats.ChatsActivity"
            android:exported="true" />
        <activity
            android:name=".view.contact.ContactActivity"
            android:exported="true" />
        <activity
            android:name=".view.display.VIewImageActivity"
            android:exported="true" />
        <activity
            android:name=".view.profile.profileActivity"
            android:exported="true" />
        <activity
            android:name=".view.settings.SettingActivity"
            android:exported="true" />
        <activity
            android:name=".view.auth.SetUserInfoActivity"
            android:exported="true" />
        <activity
            android:name=".view.auth.PhoneLoginActivity"
            android:exported="true" />
        <activity
            android:name=".view.startup.WelcomeScreenActivity"
            android:exported="true" />
        <activity
            android:name=".view.startup.splashscreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.MainActivity"
            android:exported="true" />
    </application>

</manifest>